<h1> All the users! </h1>

<%# opening up a ruby each loop  %>

<% @users.each do |user| %>
    <ul>
        <li>username: <%= user.username %></li>
        <li>email: <%= user.email %></li>
        <li>age: <%= user.age  %></li>
    </ul>

<% end %> <%# must put the end like this %>

<% @users.each do |user| %>
    <% render 'user', user: user, action: :index %>
